@import url(http:  //fonts.googleapis.com/css?family=Droid+Sans:  regular,bold);
/* Developed by http:  //theqageeks.com/ */
/*-------------------------------------------*
/*Reset
/*-------------------------------------------*/

/* Default Style
--------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
  border: 1px solid #bbbbbb;
  background: #d8d8d8 url(images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote: before,
blockquote: after,
q: before,
q: after {
  content: '';
  content: none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

code {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  height: 1px;
  background: #9f9f9f;
  margin: 7px 0;
  border: none;
  clear: both;
  float: none;
  width: 100%;
}

input,
select {
  vertical-align: middle;
}

select {
  border-radius: 4px;
  border: 1px solid #acacac;
  padding: 3px 4px;
}

.clear {
  clear: both;
}

.clearfix: after {
  display: block;
  visibility: hidden;
  content: ".";
  clear: both;
  text-indent: -9999px;
  height: 0;
}
.remove-margin {
  margin-right: 0 !important;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4615em;
  padding: 1.5385em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}

th,
tr,
td {
  vertical-align: middle;
}

.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

/*-------------------------------------------*
/*Body, Common Classes &Structure
/*-------------------------------------------*/
body {
  background: url(images/background.jpg) repeat;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  font-family: 'Droid Sans', arial, serif;
}

a {
  text-decoration: none;
  color: #2e70b1;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:  hover {
  text-decoration: none;
  color: #b81007;
}

p {
  margin: 0 0 0.8em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

#wrap {
  width: 920px;
  padding: 0 40px 35px;
  background: #fff;
  margin: 0 auto;
  border-top: 3px solid #b81007;
}
#main {
  padding: 30px 0 0;
}

/*-------------------------------------------*
/*Headings
/*-------------------------------------------*/
h1,
h2,
h3,
h4 {
  color: #000;
  line-height: 1.5em;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h2,
h3 {
  margin-top: 12px;
  margin-bottom: 8px;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: #000;
}

/*-------------------------------------------*
/*Header
/*-------------------------------------------*/
#header {
  width: 100%;
  position: relative;
}

#logo {
  float: left;
  padding: 20px 15px 20px 0px;
}

#sitename {
  float: left;
  padding: 20px 0;
}

#sitename h2,
#sitename h1 {
  margin: 0;
  line-height: 1.2em;
  font-size: 24px;
  font-weight: bold;
}

#sitename h2 a,
#sitename h1 a {
  color: #222;
  text-decoration: none;
}

#sitename h2 a: hover,
#sitename h1 a: hover {
  color: #b81007;
}
#sitename p {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

/*-------------------------------------------*
/*  6.  Navigation
/*-------------------------------------------*/
#navigation {
  position: absolute;
  height: 48px;
  top: 0px;
  right: -40px;
  font-size: 1em;
}

#navigation a {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

/*** ESSENTIAL Navigation Style ***/
#main-menu .menu ,
#main-menu .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu .menu {
  line-height: 3.4;
}

#main-menu .menu ul {
  position: absolute;
  top: -999em;
  width: 10em;/* left offset of submenus need to match (see below) */
}

#main-menu .menu ul li {
  width: 100%;
}

#main-menu .menu li:  hover {
  visibility: inherit;/* fixes IE7 'sticky bug' */
}

#main-menu .menu li {
  float: left;
  position: relative;
}

#main-menu .menu a {
  display: block;
  position: relative;
}

/*  */

#main-menu .menu li: hover ul {
  left: 0;
  top: 6.25em;/* match top ul list item height */
  z-index: 99;
  width: 100%;
}

#main-menu ul.menu li: hover li ul {
  top: -999em;
}
#main-menu ul.menu li li: hover ul {
  left: 10em;/* match ul width */
  top: 0;
}

#main-menu ul.menu li li: hover li ul {
  top: -999em;
}
#main-menu ul.menu li li li: hover ul {
  left: 10em;/* match ul width */
  top: 0;
}

/*** navigation skin ***/
#main-menu .menu {
  float: left;
  margin-bottom: 1em;
}

#main-menu .menu a {
  color: #666;
  padding: 1.5em 15px;
  text-decoration: none;
}

#main-menu .menu a.active {
  color: #000;
}

#main-menu .menu a: focus,
#main-menu .menu a: hover,
#main-menu .menu a: active {
  color: #fff;
  background: #b81007;
}

#main-menu .menu a.active {
  color: #fff !important;
  background: #b81007;
}

#main-menu .menu a.active-trail {
  color: #fff !important;
  background: #c00;
}

#main-menu .menu ul a: focus,
#main-menu .menu ul a: hover,
#main-menu .menu ul a: active {
  background: #b81007;
}

#main-menu .menu li ul {
  border-right: 0.5px solid #ececee;
}

li.sfHover {
  color: #000;
}

#main-menu .menu li li {
  background: #880000;
  line-height: 1em;
}

#main-menu .menu li li li {
  background: #fff;
}

#main-menu .menu ul a {
  padding: .75em 1.2em;
}

/*** arrows **/
#main-menu .menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;/* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  width: 9px;
  height: 5px;
  text-indent: -999em;
  overflow: hidden;
  background: url('images/arrows-down.png');
}

a > .sf-sub-indicator {
  /* give all except IE6 the correct values */
  top: 3em;
  background-position: 0 -100px;/* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a: focus > .sf-sub-indicator,
a: hover > .sf-sub-indicator,
a: active > .sf-sub-indicator,
li: hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -9px 0px;/* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#main-menu .menu ul .sf-sub-indicator {
  top: 1em;
  width: 5px;
  height: 9px;
  background: url('images/arrows-side.png');
}
#main-menu .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}

/* apply hovers to modern browsers */
#main-menu .menu ul a: focus > .sf-sub-indicator,
#main-menu .menu ul a: hover > .sf-sub-indicator,
#main-menu .menu ul a: active > .sf-sub-indicator,
#main-menu .menu ul li: hover > a > .sf-sub-indicator,
#main-menu .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -5px 0;/* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  margin: 0 !important;
  border-right: none !important;
  border-bottom: none !important;
  background: url('images/shadow.png') no-repeat bottom right;
  padding: 3px !important;
}

.sf-shadow ul ul {
  padding-left: 0 !important;
}

.sf-shadow ul.sf-shadow-off {
  background: transparent;
}

/*-------------------------------------------*
/* Home Quote
/*-------------------------------------------*/
#home-quote {
  text-align: center;
  background: #f9f9f9;
  color: #666;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

#home-quote h2 {
  margin: 0 0 10px;
}

/*-------------------------------------------*
/* Home Highlights
/*-------------------------------------------*/
.home-highlight-box {
  float: left;
  width: 290px;
  margin-right: 25px;
  text-align: center;
}

.home-highlight-box h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.home-highlight-box img {
  margin-bottom: 10px;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}

/*-------------------------------------------*
/* Footer
/*-------------------------------------------*/
#footer-wrap {
  margin-top: 40px;
  margin-left: -30px;
  margin-right: -30px;
}

#footer-ezeegeeks h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.footer-box {
  background: #ebebeb;
  border: 0.5px solid #c4c4c4;
  float: left;
  width: 230px;
  margin-right: 8px;
  padding: 0 4px 0 4px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.footer-box img {
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}

.footer-box h2 {
  color: #880000;
  background: -webkit-linear-gradient(top, #ebebeb, #626262);
  background: -moz-linear-gradient(top, #000000, #ebebeb);
  background: -ms-linear-gradient(top, #000000, #ebebeb);
  margin-top: 2px;
  line-height: 2.5em;
  padding-left: 5px;
}
.region-footer {
  margin-bottom: 20px;
}

/*-------------------------------------------*
/* Front-page Slider
/*-------------------------------------------*/
#slider {
  position: relative;
  width: 930px;
  height: 350px;
  margin-bottom: 40px;
}

.main_view {
  float: left;
  position: relative;
}

.window {
  margin: -10px 0px 0px -40px;
  overflow: hidden;
  position: relative;
  width: 1000px;
  height: 500px;
}

.image_reel {
  position: absolute;
  top: 0;
  left: 0;
}

.image_reel img {
  float: left;
}


.paging {
  margin: 0 0 0 -40px;
  padding: 5px 0 15px 0;
  text-align: center;
  background: -webkit-radial-gradient(circle, #880000, #220000);
  background: -moz-radial-gradient(circle, #880000, #220000);
  background: -ms-radial-gradient(circle, #880000, #220000);
  z-index: 100;
}

.paging a {
  text-indent: -9999px;
  background: url(images/slide-nav-button.png) no-repeat center;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 4px;
  border: none;
  outline: none;
}

.paging a.active {
  background: url(images/slide-nav-button-hover.png) no-repeat center;
  border: none;
  outline: none;
}

.paging a: hover {
  font-weight: bold;
  border: none;
  outline: none;
}

.desc {
  width: 1000px;
  line-height: 3;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: url(images/30w087b.png);
  color: #fff;
  font-size: 1.7em;
  padding: 10px;
  border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -khtml-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
}

.desc p {
  margin: 0;
}

#header {
  z-index: 2;
}

#slider {
  z-index: 1;
}

/*-------------------------------------------*
/*Nodes &Pages
/*-------------------------------------------*/
#post-content {
  display: inline;
  margin: 0;
}

body.sidebar-first #post-content {
  float: left;
  margin: 0;
  padding: 0;
  width: 620px;
}

.node {
  border: 1px solid #ebebeb;
  margin: 10px -60px 20px -30px;
  margin-bottom: 20px;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.node .title {
  background: -webkit-gradient(linear, left top, right top, from(#220000), to(#880000));
  background: -moz-gradient(linear, left top, right top, from(#220000), to(#880000));
  background: -ms-gradient(linear, left top, right top, from(#220000), to(#880000));
  /*background: #220000;*/
  color: #ececec;
  margin: -1px -6px 2px -6px;
  line-height: 2em;
  padding-left: 5px;
}

.node h2 a {
  color: #e4e4e4;
}

.node h2 a:  hover {
  color: #a20000;
}

#post-content h1 {
  margin-bottom: 0px;
}

.page-title {
  color: #ebebeb;
  margin-bottom: 10px !important;
  background: -webkit-gradient(linear, left top, right top, from(#220000), to(#880000));
  background: -moz-gradient(linear, left top, right top, from(#220000), to(#880000));
  background: -ms-gradient(linear, left top, right top, from(#220000), to(#880000));
  line-height: 1.5em;
  padding: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#breadcrumbs {
  padding-bottom: 5px;
  font-size: 11px;
  margin-bottom: -10px;
}

/*-------------------------------------------*
/*Sidebar
/*-------------------------------------------*/
#sidebar {
  float: right;
  width: 260px;
}

#sidebar .block {
  border: 1px solid #ebebeb;
  color: #141414;
  margin: 10px -30px 0 30px;
  padding: 0 0 0 5px;
  -webkit-box-shadow: 0 8px 6px -6px #880000;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#sidebar .block h2 {
  background: -webkit-gradient(linear, left top, right top, from(#880000), to(#220000));
  background: -moz-gradient(linear, left top, right top, from(#880000), to(#220000));
  background: -ms-gradient(linear, left top, right top, from(#880000), to(#220000));
  /*background: #c4c4c4;*/
  color: #eee;
  /*border-bottom: 1px solid #eee;*/
  padding: 5px;
  margin: 0px 0px 5px -5px;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

/*-------------------------------------------*
/*Copyright
/*-------------------------------------------*/
#copyright {
  margin: -40px;
  background: #141414;
  padding: 7px;
  line-height: 6;
  color: #eee;
  /*padding-top: 18px;*/
  margin-top: 10px;
  font-size: 12px;
}

.credits {
  float: right;
}

/*************************/
.submitted {
  background: #dfdddd;
  padding: 4px 9px;
  color: #383838;
  text-shadow: 1px 1px #fff;
  clear: both;
  display: block;
  margin-bottom: 2px;
}

.links {
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}

.links li a {
  background: #d3d1d1;
  padding: 4px 5px;
  color: #383838;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a: hover {
  color: #b81007;
}

.content ul,
.content ol {
  padding-left: 20px;
}

.content table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

.content th {
  background: #dbdbdb;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
  border-right: 1px solid #c8c7c7;
}

.content td {
  background: #ebebeb;
  color: #747474;
  text-align: left;
  padding-left: 4px;
  border-right: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
}

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#main table.cke_editor {
  background: transparent;
  border: 0;
}
#main table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-submit {
  background: #880000;
  border: 1.5px solid #d3d2cc;
  -moz-transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  /*background: none repeat scroll 0 0 #b81007;*/
  color: #fff;
  padding: 4px 6px;
  text-shadow: 1px 1px 1px #300033;
  margin-right: 4px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-submit: hover {
  background: none repeat scroll 0 0 #cf5240;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-text {
  border-radius: 3px;
  border: 1px solid #acacac;
  padding: 4px 5px;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a: hover,
ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a: hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a,
ul.secondary li a: link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a: hover,
ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a {
  display: inline-block;
  background: url(images/tag.png) no-repeat;
  padding: 0px 8px 0 16px;
  height: 22px;
  color: #6c6c6c;
  text-shadow: 1px 1px #fff;
  border-radius: 2px;
  font-size: 12px;
}

.field-name-field-tags a: hover {
  color: #205194;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

#main .field-label {
  color: #000;
}

/*#main .field-items .field-item {
}*/

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*-------------------------------------------*
/* comment
/*-------------------------------------------*/
#comments {
  clear: both;
  margin-top: 14px;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.comment {
  margin-bottom: 1.5em;
  padding: 5px;
  border-radius: 7px;
  min-height: 150px;
  border-bottom: 1px solid #d9d9d9;
}

h3.comment-title a {
  margin-bottom: 5px;
  font-size: 16px;
  color: #67696d;
}

.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}

.form-textarea-wrapper textarea {
  border-radius: 3px;
  border: 1px solid #acacac;
}

.comment .submitted {
  display: inline;
  background: #e5e5e5;
}

.comment .user-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin-right: 7px;
  margin-bottom: 7px;
}

.comment-new-comments {
  display: none;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
/*.item-list .pager {
}*/

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

/*.field-name-taxonomy-forums .field-items {
}*/

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon,
#forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a {
  font-size: 16px;
}

/* -----------------------------*
/* .region.region-content
/* ----------------------------*/

/*.region.region-content {
  background: #ebebeb;
  margin-left: -30px;
  margin-right: -60px;

  padding-left: 5px;
  padding-bottom: 10px;

}*/
