/* ---------- Color Module Styles ----------- */

/* Main background */

body {
  background-color: #000000;
}

/* Menu */

#wrap {
  border-top: 6px solid #000000;
}

#main-menu .menu {
  background: #880000;
}

#main-menu .menu a {
  color: #fff;
  border-right: 1px solid #220000;
}

#main-menu .menu a.active,
#main-menu .menu ul a.active {
  background: #220000;
}

#main-menu .menu a.active-trail {
  background: #220000;
}

#sitename h1 a:hover,
#sitename h2 a:hover {
  color: #220000;
}

/* Menu Hover */

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active {
  background: #a20000;
}

/* Link */

a {
  color: #3a84cc;
}

a:hover {
  color: #a20000;
}

.links li a:hover,
.field-name-field-tags a:hover {
  color: #a20000;
}

/* Button */

.form-submit {
  background: #880000;
  border-color: #d3d2cc;
}

.form-submit:hover {
  background: #a20000;
}
